{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}
{% block title %}{{ tethys_app.name }}{% endblock %}
{% block app_icon %}<img src="{% static tethys_app.icon %}">{% endblock %}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  {% url 'sfpt:home' as home %}
  {% url 'sfpt:animation' as animation %}
  <li class="{% if request.path == home %}active{% endif %}"><a href="{{ home }}">Watershed Map Viewer</a></li>
  <li class="{% if request.path == animation %}active{% endif %}"><a href="{{ animation }}">Streamflow Animation</a></li>

  <li class="title">References</li>
  {% url 'sfpt:publications' as publications %}
  {% url 'sfpt:code' as code %}
  {% url 'sfpt:help' as help %}
  <li class="{% if request.path == publications %}active{% endif %}"><a href="{{ publications }}">Publications</a></li>
  <li class="{% if request.path == code %}active{% endif %}"><a href="{{ code }}">View Source Code</a></li>
  <li class="{% if request.path == help %}active{% endif %}"><a href="{{ help }}">Help Page</a></li>
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}