{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  {% url 'sfpt:home' as home %}
  {% url 'sfpt:animation' as animation %}
  {% url 'sfpt:map' as map %}
  <li class="{% if request.path == home %}active{% endif %}"><a href="{{ home }}">Home</a></li>
  <li class="{% if request.path == animation %}active{% endif %}"><a href="{{ animation }}">Animation</a></li>
  <li class="{% if request.path == map %}active{% endif %}"><a href="{{ map }}">Map</a></li>

  <li class="title">Manage Data</li>
  {% url 'sfpt:addwatershed' as addwatershed %}
  {% url 'sfpt:addgeoserver' as addgeoserver %}
  {% url 'sfpt:managewatersheds' as managewatersheds %}
  {% url 'sfpt:managegeoservers' as managegeoservers %}
  <li class="{% if request.path == addwatershed %}active{% endif %}"><a href="{{ addwatershed }}">Add Watershed</a></li>
  <li class="{% if request.path == addgeoserver %}active{% endif %}"><a href="{{ addgeoserver }}">Add Geoserver</a></li>
  <li class="{% if request.path == managewatersheds %}active{% endif %}"><a href="{{ managewatersheds }}">Manage Watersheds</a></li>
  <li class="{% if request.path == managegeoservers %}active{% endif %}"><a href="{{ managegeoservers }}">Manage Geoservers</a></li>

  <li class="title">References</li>
  {% url 'sfpt:publications' as publications %}
  {% url 'sfpt:code' as code %}
  {% url 'sfpt:help' as help %}
  <li class="{% if request.path == publications %}active{% endif %}"><a href="{{ publications }}">Publications</a></li>
  <li class="{% if request.path == code %}active{% endif %}"><a href="{{ code }}">View Source Code</a></li>
  <li class="{% if request.path == help %}active{% endif %}"><a href="{{ help }}">Help Page</a></li>

{#  <li class="separator"></li>#}
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'sfpt/css/main.css' %}"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'sfpt/js/main.js' %}"></script>
{% endblock %}