{% extends "sfpt/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Select a Watershed</h1>
  <form id="watershedForm" action="{% url 'sfpt:map' %}" method="get">
    {% gizmo select_input watersheds %}
    <div class="btn-group ">
      <button name="submit-go-to-map" class="btn btn-success" role="button" form="watershedForm" submit="True"
              id="submit-go-to-map">
        <span class="glyphicon glyphicon-play"></span>View Watersheds
      </button>
    </div>
  </form>
{% endblock %}
